.tour-card
 position: relative
 height: 52rem
 width: 31rem
 perspective: 150rem
 -moz-perspective: 150rem
 &__image
  width: 31rem
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 89%) 
  margin-bottom: 5.5rem
  
 &__side
  box-shadow: $box-shadow
  height: 52rem
  transition: all 1s ease
  position: absolute
  top: 0
  left: 0
  width: 100%
  backface-visibility: hidden
  border-radius: .5rem
  overflow: hidden
  &_front
  &_back
   display: flex
   flex-direction: column
   justify-content: space-evenly
   transform: rotateY(-180deg)
   background: linear-gradient(180deg, #C3956A 4%, rgba(#A14F03, 100%) 100%)
 &:hover &__side_front
  transform: rotateY(180deg)
 &:hover &__side_back
  transform: rotateY(0)
 &__title
  font-size: 2.8rem
  font-weight: 300
  text-transform: uppercase
  color: white
  text-align: right
  position: absolute
  top: 17.5rem
  right: 0
 &__span
  background: linear-gradient(90deg, #C3956A 4%, rgba(#A14F03, 100%) 100%)
  &_1
    padding: 1.4rem 2rem .1rem 2rem
  &_2
    position: absolute
    top: 3.3rem
    right: 0
    padding: .1rem 2rem 1.4rem 2rem
 &__list
  list-style: none
  font-weight: 700
  li
    display: inline-block
    margin-bottom: 2rem
    border-bottom: 1px solid $color-secondary
    &:last-child
      margin-bottom: 0



.full-price
 font-size: $paragraf
 text-transform: uppercase
 color: white
 font-weight: 300

.price
 font-size: 6rem
 color: white
 font-weight: 500